/* An inherited property will be applied to descendent elements as well */
body {
  font-family: sans-serif;
}

/* Reduces the margins and removes user agent list styles */
h1 {
  color: #2f4f4f;
  font-weight: bold; /* Won't work due to shorthand Cascaded value */
  margin-bottom: 10px;
}

.title {
  /*
    Initial values expanded equivalent to the following shorthand font property
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: normal;
    font-size: 32px;
  */
  font: 32px Helvetica, Arial, sans-serif;
}

/* Changes "#main-nav" to ".nav" throughout stylesheet */
.nav {
  margin-top: 10px;
  list-style: none;
  padding-left: 0;
}

/* Makes list items appear side by side rather than stacked */
.nav li {
  display: inline-block;
}

/* Global link color for the page */
a:link {
  color: blue;
}

/* Makes the specificites equal (0, 1, 1) */
.nav a {
  color: white;
  background-color: #13a4a4;
  padding: 5px 15px; /* Top and Bottom then left and right padding */
  border-radius: 2px;
  text-decoration: none;
}

a.featured {
  background-color: orange;
}

/* Footer text color set to gray */
.footer {
  color: #666;
  background-color: #ccc;
  font-size:14px;
  padding: 15px 0;
  text-align: center;
}

/* Inherits font color from the footer */
.footer a {
  color: inherit;
  text-decoration: underline;
}
