/* Reduces the margins and removes user agent list styles */
h1 {
  color: #2f4f4f;
  margin-bottom: 10px;
}

/* Changes "#main-nav" to ".nav" throughout stylesheet */
.nav {
  margin-top: 10px;
  list-style: none;
  padding-left: 0;
}

/* Makes list items appear side by side rather than stacked */
.nav li {
  display: inline-block;
}

/* Provides a button-like appearance for the navigational links */
.nav a {  /* Lowers the first Specificity 0, 1, 1 */
  color: white;
  background-color: #13a4a4;
  padding: 5px;
  border-radius: 2px;
  text-decoration: none;
}

/* Increases the second Specificity to 0, 2, 0 */
.nav .featured {
  /* The !important annotation is no longer necessary */
  background-color: orange;
}
