:root {
  box-sizing: border-box;
  /* Base font size scales slightly with the viewport */
  font-size: calc(1vw + 0.6em);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

a:link {
  color: #1476b8;
  font-weight: bold;
  text-decoration: none;
}
a:visited {
  color: #1430b8;
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:active {
  color: #b81414;
}

/* Page header and title */
.page-header {
  padding: 0.4em 1em;
  background-color: #fff;
}

@media (min-width: 35em) {
  /* Increases header padding */
  .page-header {
    padding: 1em;
  }
}

.title > h1 {
  color: #333;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 0.2em 0;
}

/* Adding a breakpoint to the page title styles */
@media (min-width: 35em) { /* Targets breakpoints above 35em */
  .title > h1 {
    /* Overrides the mobile font-size (1.5rem) with a larger one */
    font-size: 2.25rem;
  }
}

.slogan {
  color: #888;
  font-size: 0.875em;
  margin: 0;
}

.hero {
  padding: 2em 1em;
  text-align: center;
  /* Adds the hero image to the page */
  background-image: url(/img/coffee-beans.jpg);
  background-size: 100%;
  color: #fff;
  /* A dark text shadow helps light text remain
   * readable in front of complex backround */
  text-shadow: 0.1em 0.1em 0.3em #000;
}

@media (min-width: 35em) {
  .hero {
    /* Increases hero image padding and font size */
    padding: 5em 3em;
    font-size: 1.2rem;
  }
}

/* Main content */
main {
  padding: 1em;
}

@media (min-width: 35em) {
  /* Increases padding on main */
  main {
    padding: 2em 1em;
  }
}

.subtitle {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  font-size: 0.875rem;
  text-transform: uppercase;
}

/* Mobile menu styles */
.menu {
  /* Establishes containing block for both absolutely positioned children */
  position: relative;
}

.menu-toggle {
  position: absolute;
  /* A negative top pulls the button up outside its containing block */
  top: -1.2em;
  right: 0.1em;

  /* Overrides user agent button styles */
  border: 0;
  background-color: transparent;

  font-size: 3em;
  width: 1em;
  height: 1em;
  line-height: 0.4;
  /* Hides the text content of the button and fixes its size at 1em */
  text-indent: 5em;
  white-space: nowrap;
  overflow: hidden;
}

.menu-toggle::after {
  position: absolute;
  top: 0.2em;
  left: 0.2em;
  display: block;
  /* Overlays the button with a unicode symbol, the hamburger icon */
  content: "\2261";
  text-indent: 0;
}

.menu-dropdown {
  display: none;
  position: absolute;
  right: 0;
  left: 0;
  margin: 0;
}

@media (min-width: 35em) {
  .menu-toggle {
    /* Hides toggle button */
    display: none;
  }

  .menu-dropdown {
    /* reveals the dropdown contents */
    display: block;
    /* Overrides absolute positioning */
    position: static;
  }
}

.menu.is-open .menu-dropdown {
  /* Displays the dropdown menu when the class is-open is added to the menu */
  display: block;
}

/* Styling the navigational menu */
.nav-menu {
  margin: 0;
  padding-left: 0;
  border: 1px solid #ccc;
  list-style: none;
  background-color: #000;
  color: #fff;
}

/* Applies a border between each menu item */
.nav-menu > li + li {
  border-top: 1px solid #ccc;
}

.nav-menu > li > a {
  display: block;
  /* Uses a healthy amount of padding to ensure a large clickable area */
  padding: 0.8em 1em;
  color: #fff;
  font-weight: normal;
}

@media (min-width: 35em) {
  .nav-menu {
    /* Changes the menu to a flex container and
     * allows items to grow to fill the screen width */
    display: flex;
    border: 0;
    padding: 0 1em;
  }

  .nav-menu > li {
    /* Changes the menu to a flex container and
     * allows items to grow to fill the screen width */
    flex: 1;
  }
  .nav-menu > li + li {
    border: 0;
  }

  .nav-menu > li > a {
    padding: 0.3em;
    text-align: center;
  }
}
