body {
  font-size: 16px;
}
hr {
  margin-top: 1.6em;
}
/* Applying ems to padding */
.padded {
  padding: 1em;  /* Sets padding on all sides equal to font-size */
}
/* Applying ems applied to different elements */
.box {
  padding: 1em;
  border-radius: 1em;
  background-color: lightgray;
}
/* Different font sizes, which will define the elements' em size */
.box-small {
  font-size: 12px;
}

.box-large {
  font-size: 18px;
}
/* Applying ems to font-size */
.slogan {
  /* Calculates to 1.2 times the element's inherited font size */
  font-size: 1.2em;
}
