/* Responsive base font-size */
:root {
  /* Applies to all screens, but is overridden for larger screens */
  font-size: 0.75em;
}
@media (min-width: 800px) {
  /* Applies only to screens 800 px and wider, overriding the original value */
  :root {
    font-size: 0.875em;
  }
}
@media (min-width: 1200px) {
  /* Applies only to screens 1200 px and larger, overriding both values */
  :root {
    font-size: 1em;
  }
}
body {
  font-family: Helvetica, Arial, sans-serif;
}
hr {
  margin-top: 1.6em;
}
/* Applying ems to padding */
.padded {
  padding: 1em;  /* Sets padding on all sides equal to font-size */
}
/* Applying ems applied to different elements */
.box {
  padding: 1em;
  border-radius: 1em;
  background-color: lightgray;
}
/* Different font sizes, which will define the elements' em size */
.box-small {
  font-size: 12px;
}

.box-large {
  font-size: 18px;
}
/* Applying ems to font-size */
.slogan {
  /* Calculates to 1.2 times the element's inherited font size */
  font-size: 1.2em; /* Evaluates to 19.2px */
  padding: 1.2em; /* Evaluates to 23.04px */
  background-color: #ccc;
}
/* Applying ems to a list */
ul {
  /* rem is short for root em */
  font-size: 0.8rem;
}
/* correcting the shrinking text */
ul ul {
  /* Lists within lists should have the same font size as their parent */
  font-size: 1em;
}
/* Panel figure */
.panel.a {
  font-size: 0.75em;
}
.panel.b {
  font-size: 0.875em;
}
.panel.c {
  font-size: 1em;
}
/* Panel with relative units */
.panel {
  /* Uses ems for padding and border radius */
  padding: 1em;
  border-radius: 0.5em;
  border: 1px solid #999; /* Uses 1 px for a thin border */
}

.panel > h2 {
  /* Removes extra space from the panel top */
  margin-top: 0;
  font-size: 0.8rem; /* Styles the heading font using rems for font size */
  font-weight: bold;
  text-transform: uppercase;
}
