body {
  background-color: #eee;
  font-family: Helvetica, Arial, sans-serif;
}
header {
  color: #fff;
  background-color: #0072b0;
  border-radius: 0.5em;
}
main {
  /* Fixes IE bug */
  display: block;
}
/* Changes the box model to border-box sizing */
.main {
  box-sizing: border-box;
  /* Floats the main column left and sets the width at 70% */
  float: left;
  width: 70%;
  background-color: #fff;
  border-radius: .5em;
}
.sidebar {
  box-sizing: border-box;
  /* Floats the sidebar left and sets the width at 30% */
  float: left;
  width: 30%;
  /* Adds padding to the sidebar */
  padding: 1.5em;
  background-color: #fff;
  border-radius: .5em;
}
