:root {
  /* Applies border box sizing to the root element */
  box-sizing: border-box;
}
*,
::before,
::after {
  /* Tells all other elements and pseudo-elements to inherit their box sizing */
  box-sizing: inherit;
}
body {
  background-color: #eee;
  font-family: Helvetica, Arial, sans-serif;
}
header {
  color: #fff;
  background-color: #0072b0;
  border-radius: 0.5em;
}
main {
  /* Fixes IE bug */
  display: block;
}
/* Adds a new wrapper element with negative margins */
.wrapper {
  margin-left: -1.5em;
  margin-right: -1.5em;
}
/* Makes the container layout resemble a table */
.container {
  display: table;
  /* Makes the table fill its container's width */
  width: 100%;
  /* Applies horizontal border spacing between table cells */
  border-spacing: 1.5em 0;
}
/* Makes the column layout mimic table cells */
.main {
  display: table-cell;
  width: 70%;
  background-color: #fff;
  border-radius: .5em;
}
.sidebar {
  display: table-cell;
  width: 30%;
  /* Adds padding to the sidebar */
  padding: 1.5em;
  background-color: #fff;
  border-radius: .5em;
}
