*,
::before,
::after {
  /* Applies border box sizing to all elements and pseudo-elements on the page */
  box-sizing: border-box;
}
body {
  background-color: #eee;
  font-family: Helvetica, Arial, sans-serif;
}
header {
  color: #fff;
  background-color: #0072b0;
  border-radius: 0.5em;
}
main {
  /* Fixes IE bug */
  display: block;
}
.main {
  /* Floats the main column left and sets the width at 70% */
  float: left;
  width: 70%;
  background-color: #fff;
  border-radius: .5em;
}
.sidebar {
  /* Floats the sidebar left and sets the width at 30% */
  float: left;
  width: 30%;
  /* Adds padding to the sidebar */
  padding: 1.5em;
  background-color: #fff;
  border-radius: .5em;
}
